/*
Web Programming, Project 4: NerdLuv
You should link to this provided stylesheet from all of your pages.
You should not need to modify this file.  Your pages should work with it as-is.
*/

* {
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
}
a{
	text-decoration: none;
	color: black;
}
.navbar a:hover{
	background-color: #CED4DB;
	border-radius: 25px;
}

.navbar{
	position: relative;
	overflow: hidden;
	background-color: #979EA8;
	border-radius: 25px;
	border: 2px solid #3f3f3f;
	width: 100%;
}
.navCorner{
	float: right;
	text-align: center;
	padding: 10px 10px;
}
.navB{
	float:left;
	text-align: center;
	padding: 14px 70px;
}
.login_body{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 2px solid #3f3f3f;
}
.login_box{
	padding: 48px;
}
#login_text h1{
	font-size:20pt;
}
.login_form{
	padding: 10px;
}

.login_form input{
	margin-bottom: 25px;
}

.login_form input[type = "submit"]{
	background-color: #979EA8;
	text-align: center;
	font-family: 120%;
	font-style: bold;
	width: 100%;
	border-radius: 25px;
}

.login_form fieldset{
	border: none;
}

